.main {
    flex: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    row-gap: 2rem;
    background-color: var(--main-bg-color);
}

.main img {
    width: 80%;
    max-width: 400px;
    height: auto;
}

.slider {
    width: 80%;
    min-width: 200px;
    max-width: 400px;
}